<div
  class="d-flex align-items-center justify-content-center"
  style="height:100vh;"
>
  <form
    action="/me/{{user.title}}/{{user._id}}/ResetPasswordHome"
    method="post"
  >
    <div class="card text-center" style="width: 300px;">
      <div class="card-header h5 text-white bg-primary">Password Reset</div>
      <div class="card-body px-5">
        <label
          class="form-label"
          for="typeEmail"
          style="margin-bottom: -45px;"
        >New Password</label>
        <div class="form-outline">
          <input
            type="text"
            id="typeEmail"
            name="password"
            class="form-control my-3"
          />
        </div>
        <label
          class="form-label"
          for="typeEmail"
          style="margin-bottom: -45px;"
        >Repeat Password</label>
        <div class="form-outline">
          <input
            type="text"
            id="typeEmail"
            name="repassword"
            class="form-control my-3"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Reset password</button>
        <div class="d-flex justify-content-between mt-4">
          <a class="" href="/user/signin/" style="text-decoration: none;">Sign
            in</a>
          <a
            class=""
            href="/splash-screens/title"
            style="text-decoration: none;"
          >Sign up</a>
        </div>
      </div>
    </div>
  </form>
</div>