$red-color: green;

.checkbox-select-all-option {
  width: 120px;
  margin: 0px 16px;
}

.repair-form-signup {
  margin: 16px 16px;
}

.repair-label {
  min-width: 100px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.dropdown-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
