<div class='mt-4'>
    <form
        name='create-form-profile'
        method='POST'
        enctype='multipart/form-data'
        action=''
    >
        <div class='container-form'><a
                href='/me/{{user.title}}/{{user.id}}/MyHome'
                style='text-decoration: none;'
            >Home</a></div>
        <div><button
                type='button'
                class='btn btn-primary'
                style='margin-top:20px'
            >Lookup</button></div>
        <div class='form-group d-flex align-items-center repair-form-signup'>
            <div
                class='form-group d-flex align-items-center repair-form-signup'
                style='flex-direction: column;'
            >
                <label for='description' class='repair-label'>Search</label>
                <input
                    type='text'
                    name='search'
                    class='form-control'
                    id='search'
                    style='max-width: 200px;'
                />
                <ul class='list-group' id='recommend' style='margin-top: 10px'>

                </ul>

            </div>

        </div>

    </form>
</div>
<script>
    const inputSearch = document.getElementById('search'); const recommend =
    document.getElementById('recommend'); inputSearch.oninput = function(e){
    if(keyword !== e.target.value){ recommend.innerHTML = ''; } var keyword =
    e.target.value; axios.post('http://localhost:4848/search/search_keyword',{
    keyword: keyword, }).then(function(res) { //console.log(res.data);
    recommend.innerHTML += res.data.map(function(item){ return `<li
    class="list-group-item" name="course_id[]" value="${item.description}"
    style="min-width: 200px">${item.description}</li>`; }); const rcmcourse =
    document.getElementsByName('course_id[]'); rcmcourse[0].onmouseenter =
    function(){ console.log(rcmcourse[0].value); } })};

</script>