<div
  class="mt-4 d-flex justify-content-center align-items-center"
  style="flex-direction:column;"
>
  <h2>Sign up as</h2>
  <button
    type="submit"
    class="btn btn-primary btn-lg rounded-pill"
    style="margin: 16px 16px;"
  >
    <a
      href="/students/signup"
      style="text-decoration: none; color: white"
    >Student
    </a>
  </button>
  <button type="submit" class="btn btn-primary btn-lg rounded-pill"><a
      href="/teachers/signup"
      style="text-decoration: none; color: white"
    >Teacher
    </a></button>
</div>